@use "src/assets/scss/_mixins.scss" as *;
@import '_reset.scss';
@import '_variables.scss';
@import '_icon.scss';
@import '_font.scss';
@import '_heading.scss';




html {
 font: $body-l;
}
body {
    background-color: $light-grey;
}
#app {
    min-height: 100%;

    display: flex;
flex-direction: column;

}